<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.eis.mapper.EisCreateReportsMapper">
  <resultMap id="BaseResultMap" type="com.ai.eis.model.EisCreateReport">
    <id column="PROJECT_NO" jdbcType="INTEGER" property="projectNo" />
    <result column="PROJECT_NAME" jdbcType="VARCHAR" property="projectName" />
    <result column="SUBMIT_TIME" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="COMPLETE_REPORT_TIME" jdbcType="TIMESTAMP" property="completeReportTime" />
    <result column="REPORT_NO" jdbcType="VARCHAR" property="reportNo" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="QZONE_FILE_PATH" jdbcType="VARCHAR" property="qzoneFilePath" />
    <result column="QPLUS_MAX_FILE_PATH" jdbcType="VARCHAR" property="qplusMaxFilePath" />
    <result column="QMINUS_MAX_FILE_PATH" jdbcType="VARCHAR" property="qminusMaxFilePath" />
    <result column="DATA_SPEED" jdbcType="INTEGER" property="dataSpeed" />
    <result column="TRF_NO" jdbcType="VARCHAR" property="trfNo" />
    <result column="REPORT_FILE_PATH" jdbcType="VARCHAR" property="reportFilePath" />
    <result column="RATE_POWER" jdbcType="INTEGER" property="ratePower" />
  </resultMap>

  <sql id="Base_Column_List">
    PROJECT_NO, PROJECT_NAME, SUBMIT_TIME, COMPLETE_REPORT_TIME, REPORT_NO, remark, QZONE_FILE_PATH, 
    QPLUS_MAX_FILE_PATH, QMINUS_MAX_FILE_PATH, DATA_SPEED, TRF_NO,REPORT_FILE_PATH,RATE_POWER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eis_create_reports
    where PROJECT_NO = #{projectNo,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eis_create_reports
    where PROJECT_NO = #{projectNo,jdbcType=INTEGER}
  </delete>

  <select id="queryByCondition" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List"/>
    from eis_create_reports
    <where>
      <if test="projectName != null and projectName != ''">
        PROJECT_NAME like #{projectName}
      </if>
      <if test="trfNo != null and trfNo != ''">
        and TRF_NO like #{trfNo}
      </if>
      <if test="reportNo != null and reportNo != ''">
        and REPORT_NO like #{reportNo}
      </if>
      <if test="projectNo != null and projectNo != ''">
        and PROJECT_NO = #{projectNo}
      </if>
    </where>
  </select>

  <insert id="insert" parameterType="com.ai.eis.model.EisCreateReport">
    insert into eis_create_reports (PROJECT_NO, PROJECT_NAME, SUBMIT_TIME, 
      COMPLETE_REPORT_TIME, REPORT_NO, remark, 
      QZONE_FILE_PATH, QPLUS_MAX_FILE_PATH, QMINUS_MAX_FILE_PATH, 
      DATA_SPEED, TRF_NO)
    values (#{projectNo,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP}, 
      #{completeReportTime,jdbcType=TIMESTAMP}, #{reportNo,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{qzoneFilePath,jdbcType=VARCHAR}, #{qplusMaxFilePath,jdbcType=VARCHAR}, #{qminusMaxFilePath,jdbcType=VARCHAR}, 
      #{dataSpeed,jdbcType=INTEGER}, #{trfNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.eis.model.EisCreateReport">
    insert into eis_create_reports
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        PROJECT_NO,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="submitTime != null">
        SUBMIT_TIME,
      </if>
      <if test="completeReportTime != null">
        COMPLETE_REPORT_TIME,
      </if>
      <if test="reportNo != null">
        REPORT_NO,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="qzoneFilePath != null">
        QZONE_FILE_PATH,
      </if>
      <if test="qplusMaxFilePath != null">
        QPLUS_MAX_FILE_PATH,
      </if>
      <if test="qminusMaxFilePath != null">
        QMINUS_MAX_FILE_PATH,
      </if>
      <if test="dataSpeed != null">
        DATA_SPEED,
      </if>
      <if test="trfNo != null">
        TRF_NO,
      </if>
       <if test="ratePower != null">
        RATE_POWER,
      </if>
      <if test="reportFilePath != null">
        REPORT_FILE_PATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectNo != null">
        #{projectNo,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeReportTime != null">
        #{completeReportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportNo != null">
        #{reportNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="qzoneFilePath != null">
        #{qzoneFilePath,jdbcType=VARCHAR},
      </if>
      <if test="qplusMaxFilePath != null">
        #{qplusMaxFilePath,jdbcType=VARCHAR},
      </if>
      <if test="qminusMaxFilePath != null">
        #{qminusMaxFilePath,jdbcType=VARCHAR},
      </if>
      <if test="dataSpeed != null">
        #{dataSpeed,jdbcType=INTEGER},
      </if>
      <if test="trfNo != null">
        #{trfNo,jdbcType=VARCHAR},
      </if>
       <if test="ratePower != null">
        #{ratePower,jdbcType=INTEGER},
      </if>
      <if test="reportFilePath != null">
        #{reportFilePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.ai.eis.model.EisCreateReport">
    update eis_create_reports
    <set>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null">
        SUBMIT_TIME = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeReportTime != null">
        COMPLETE_REPORT_TIME = #{completeReportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportNo != null">
        REPORT_NO = #{reportNo,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="qzoneFilePath != null">
        QZONE_FILE_PATH = #{qzoneFilePath,jdbcType=VARCHAR},
      </if>
      <if test="qplusMaxFilePath != null">
        QPLUS_MAX_FILE_PATH = #{qplusMaxFilePath,jdbcType=VARCHAR},
      </if>
      <if test="qminusMaxFilePath != null">
        QMINUS_MAX_FILE_PATH = #{qminusMaxFilePath,jdbcType=VARCHAR},
      </if>
      <if test="dataSpeed != null">
        DATA_SPEED = #{dataSpeed,jdbcType=INTEGER},
      </if>
      <if test="trfNo != null">
        TRF_NO = #{trfNo,jdbcType=VARCHAR},
      </if>
       <if test="ratePower != null">
        RATE_POWER = #{ratePower,jdbcType=INTEGER},
      </if>
    </set>
    where PROJECT_NO = #{projectNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.eis.model.EisCreateReport">
    update eis_create_reports
    set PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      SUBMIT_TIME = #{submitTime,jdbcType=TIMESTAMP},
      COMPLETE_REPORT_TIME = #{completeReportTime,jdbcType=TIMESTAMP},
      REPORT_NO = #{reportNo,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      QZONE_FILE_PATH = #{qzoneFilePath,jdbcType=VARCHAR},
      QPLUS_MAX_FILE_PATH = #{qplusMaxFilePath,jdbcType=VARCHAR},
      QMINUS_MAX_FILE_PATH = #{qminusMaxFilePath,jdbcType=VARCHAR},
      DATA_SPEED = #{dataSpeed,jdbcType=INTEGER},
      TRF_NO = #{trfNo,jdbcType=VARCHAR},
      RATE_POWER =#{ratePower,jdbcType=INTEGER}
    where PROJECT_NO = #{projectNo,jdbcType=INTEGER}
  </update>




  <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from eis_create_reports
    where PROJECT_NO = #{projectNo,jdbcType=INTEGER}
  </select>

  <update id="update" parameterType="com.ai.eis.model.EisCreateReport">
    update eis_create_reports
    <set>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="reportNo != null">
        REPORT_NO = #{reportNo,jdbcType=VARCHAR},
      </if>
      <if test="qzoneFilePath != null">
        QZONE_FILE_PATH = #{qzoneFilePath,jdbcType=VARCHAR},
      </if>
      <if test="qplusMaxFilePath != null">
        QPLUS_MAX_FILE_PATH = #{qplusMaxFilePath,jdbcType=VARCHAR},
      </if>
      <if test="qminusMaxFilePath != null">
        QMINUS_MAX_FILE_PATH = #{qminusMaxFilePath,jdbcType=VARCHAR},
      </if>
      <if test="dataSpeed != null">
        DATA_SPEED = #{dataSpeed,jdbcType=Integer},
      </if>
      <if test="trfNo != null">
        TRF_NO = #{trfNo,jdbcType=Integer},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
        <if test="ratePower != null">
        RATE_POWER = #{ratePower,jdbcType=INTEGER},
      </if>
      </set>
    where PROJECT_NO = #{projectNo,jdbcType=INTEGER}
  </update>

</mapper>