<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.eis.mapper.EisPostMapper" >
  <resultMap id="BaseResultMap" type="com.ai.eis.model.EisPost" >
    <id column="POST_ID" property="postId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    POST_ID, NAME, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from eis_post
    where POST_ID = #{postId,jdbcType=INTEGER}
  </select>
  
   <select id="queryByCondition" resultMap="BaseResultMap" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from eis_post
        <where>
            <if test="postId != null and postId !=''">
                POST_ID = #{postId}
            </if>
            <if test="name != null and name != ''">
                and NAME like #{name}
            </if>
        </where>
    </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from eis_post
    where POST_ID = #{postId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ai.eis.model.EisPost" >
    insert into eis_post (POST_ID, NAME, REMARKS
      )
    values (#{postId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.eis.model.EisPost" >
    insert into eis_post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        POST_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postId != null" >
        #{postId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.eis.model.EisPost" >
    update eis_post
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where POST_ID = #{postId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.eis.model.EisPost" >
    update eis_post
    set NAME = #{name,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where POST_ID = #{postId,jdbcType=INTEGER}
  </update>
</mapper>