<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.eis.mapper.EisRoleMapper" >
  <resultMap id="BaseResultMap" type="com.ai.eis.model.EisRole" >
    <id column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="BOOLEAN" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    ROLE_ID, NAME, REMARKS,STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from eis_role
    where ROLE_ID = #{roleId,jdbcType=INTEGER}
  </select>
  
  
    <select id="selectAllRoles" resultMap="BaseResultMap"   >
    select 
    <include refid="Base_Column_List" />
    from eis_role
  </select>
  
  
    <select id="selectByRoleName" resultMap="BaseResultMap"  parameterType="java.lang.String"   >
    select 
    <include refid="Base_Column_List" />
    from eis_role
    where NAME = #{name,jdbcType=VARCHAR}
  </select>
  
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from eis_role
    where ROLE_ID = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ai.eis.model.EisRole" >
    insert into eis_role (ROLE_ID, NAME, REMARKS
      )
    values (#{roleId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.eis.model.EisRole" >
    insert into eis_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.eis.model.EisRole" >
    update eis_role
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.ai.eis.model.EisRole" >
    update eis_role
    set NAME = #{name,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where ROLE_ID = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>