<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.eis.mapper.EisSampleSendMapper">
  <resultMap id="BaseResultMap" type="com.ai.eis.model.EisSampleSend">
    <result column="ID" javaType="INTEGER" property="id" />
    <result column="PROJECT_ID" jdbcType="INTEGER" property="projectId" />
    <result column="SEND_DATE" jdbcType="TIMESTAMP" property="sendDate" />
    <result column="TRACK" jdbcType="VARCHAR" property="track" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="SEND_NUM" jdbcType="INTEGER" property="sendNum" />
    <result column="REMARKS" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <insert id="insert" parameterType="com.ai.eis.model.EisSampleSend">
    insert into eis_sample_send (PROJECT_ID, SEND_DATE, TRACK, 
      CONTACT, PHONE, SEND_NUM, 
      REMARKS)
    values (#{projectId,jdbcType=INTEGER}, #{sendDate,jdbcType=TIMESTAMP}, #{track,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sendNum,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.eis.model.EisSampleSend">
    insert into eis_sample_send
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="sendDate != null">
        SEND_DATE,
      </if>
      <if test="track != null">
        TRACK,
      </if>
      <if test="contact != null">
        CONTACT,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="sendNum != null">
        SEND_NUM,
      </if>
      <if test="remarks != null">
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="sendDate != null">
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="track != null">
        #{track,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sendNum != null">
        #{sendNum,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from eis_sample_send
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateSend" parameterType="com.ai.eis.model.EisSampleSend" >
    update eis_sample_send
    <set >
      <if test="projectId != null" >
        PROJECT_ID = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="sendDate != null" >
        SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
      </if>
     <if test="track != null" >
        TRACK = #{track,jdbcType=VARCHAR}, 
      </if>
       <if test="contact != null" >
        CONTACT =  #{contact,jdbcType=VARCHAR},
      </if>
       <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
       <if test="sendNum != null" >
        SEND_NUM =#{sendNum,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="listSendRecord" resultMap="BaseResultMap" parameterType="Map">
    select
    a.ID, a.PROJECT_ID, a.SEND_DATE, a.TRACK,b.PROJECT_NO as projectNo,
    a.CONTACT, a.PHONE, a.SEND_NUM,
    a.REMARKS
    from eis_sample_send a,eis_resource_contract b
    <where>
     a.PROJECT_ID = b.PROJECT_ID
      <if test="pId != null and pId !=''">
       and  PROJECT_ID = #{pId} 
      </if>
      <if test="id != null and id !=''">
       and  a.id = #{id} 
      </if>
       <if test="contact != null and contact !=''">
        and CONTACT like  #{contact}
      </if>
      
      
      
    </where>
  </select>
</mapper>